$primary: rgb(46, 136, 238);
$primary-light: rgb(191, 214, 240);
$primary-dark: rgb(26, 110, 206);
$app-bg: #fff;
$ticket-cell-bg: rgb(225, 226, 236);
$ticket-cell-bg--hover: rgb(199, 201, 211);
$disabled-bg: #ededf2;
$disabled-text: #999;
$text: #111;
$shadow: #bbb;
