$primary: rgb(46, 136, 238);
$primary-light: rgb(191, 214, 240);
$primary-dark: rgb(26, 110, 206);
$app-bg: rgb(228, 233, 238);
$ticket-cell-bg: #fff;
$ticket-cell-bg--hover: rgb(241, 246, 255);
$disabled-bg: rgb(248, 250, 252);
$disabled-text: #ccc;
$text: #000;
