@import "_colors.scss";

.circ-prog-btn {
  position: relative;
  width: 100%;
}

.circ-prog-btn__button {
  /* shape and position of element */
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  right: 0;
  background-color: $primary;
  /* capsule shape: ridicously high number */
  /* with other concepts like 20%/50% it doesn't work well */
  border-radius: 400vw;

  /* text content style */
  color: white;
  font-size: 1.15em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  overflow-wrap: anywhere;

  /* behaviour */
  cursor: pointer;
  opacity: 0;
  transition: width 0.5s ease-in-out 0.5s, opacity 0.5s ease-in-out 0s;

  &:hover {
    background-color: $primary-dark;
  }
}

.circ-prog-btn__button--unlocked {
  width: 100%;
  opacity: 1;
}

.circ-prog-btn__buttontext {
  padding-right: 1em;

  &::after {
    content: "❯";
    margin-left: 0.3em;
  }
}

.circ-prog-btn__circle {
  width: 40%;
  margin-left: auto;
  transition: transform 0.5s ease-in-out 0.5s;
}

.circ-prog-btn__circle--unlocked {
  transform: translateX(-151%);
}
