@import "_colors.scss";

.ticket-cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8%;
  background-color: $ticket-cell-bg;
  border-radius: 20%;
  cursor: pointer;
  transition: background-color 0.2s linear 0s;

  &:hover:not(.ticket-cell--disabled) {
    background-color: $ticket-cell-bg--hover;
  }
}

.ticket-cell--disabled {
  background-color: $disabled-bg;
  cursor: not-allowed;
  color: $disabled-text;
}

.ticket-cell__crossmark {
  position: absolute;
  width: 70%;
  stroke: $primary;
  stroke-width: 16;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
}

.ticket-cell__crossmark__1 {
  transition: stroke-dashoffset 0.3s ease-in-out 0s;
}

.ticket-cell__crossmark__2 {
  transition: stroke-dashoffset 0.3s ease-in-out 0.25s;
}

.ticket-cell__crossmark--crossed {
  stroke-dashoffset: 0;
}

.ticket-cell__number {
  z-index: 1;
  transition: all 0.3s ease-in-out 0s;
}

.ticket-cell__number--crossed {
  font-size: 0.8em;
  transform: translateY(110%);
}
