.square-container {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
}

.ticket-table {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  grid-template-rows: repeat(7, calc(100% / 7));
  /* fill parent container */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
